CONFIG_ARCH_ACTIONS=y
# CONFIG_DEBUG_ALIGN_RODATA is not set
CONFIG_SMP=y
CONFIG_HZ_250=y
CONFIG_EFI=y
CONFIG_ECHO=y
# CONFIG_DEVMEM is not set
CONFIG_SERIAL_OWL=y
CONFIG_POWER_RESET=y
CONFIG_POWER_SUPPLY=y
CONFIG_WATCHDOG=y
CONFIG_OWL_PM_DOMAINS=y
CONFIG_TEE=y
CONFIG_FRAME_WARN=2048
